/* test variable */
$rouge: #FF0000;
$gris-clair: #ECECEC;
$gris-fonce: #2C2C2C;

/* test d'imbrication */
body {
    background-color: $gris-clair;
    p {
        border: 1px solid red;
    }
}

/* test d'héritage */
%button {
    border-radius: 6px;
    padding: 15px;
    margin: 10px;
    &:hover {
        cursor: pointer;
        background-color: $gris-fonce;
        color: white;
    }
}

/*button {
    @extend %button;
}*/
/* test mixin */
@mixin bouton($bgcolor) {
    border-radius: 6px;
    padding: 15px;
    margin: 10px;
    &:hover {
        cursor: pointer;
        background-color: $bgcolor;
        color: white;
    }
}
button {
    @include bouton($rouge);
}