/* boutons */
button {
    &.btn-ddo {
        border: 1px solid map-get($theme-colors, "primary") !important;
        background-color: white;
        color: map-get($theme-colors, "primary");
        font-weight: 700;
        text-transform: uppercase;
        &:hover {
            color: white;
            background-color: map-get($theme-colors, "primary"); 
        }
    }
}


