.social-ddo {
    li {
        margin-right: 15px;
        /* le before correspond à une icône */
        i:before {
            font-size: 1.2em;
            cursor: pointer;
        }
        /* Au survol de l'icône on change de couleur */
        i:hover:before {
            color: map-get($theme-colors, "primary");
        }
    }
    
}
/* Média query classique : quand l'écran sera plus petit que 992px, on n'affiche pas les icônes des réseaux sociaux */
@media screen and (max-width: 992px) {
    .social-ddo {
        display: none;
    }
}
/* Média query classique : quand l'écran sera plus grand que 992px, on n'affiche pas le menu  */
@media screen and (min-width: 992px) {
    .navbar-nav {
        display: none;
    }
}