.social-ddo {
    li {
        margin-right: 15px;
        /* le before correspond à une icône */
        i:before {
            font-size: 1.2em;
            cursor: pointer;
        }
        /* Au survol de l'icône on change de couleur */
        i:hover:before {
            color: map-get($theme-colors, "primary");
        }
    }
    
}


/* Média query classique : quand l'écran sera plus petit que 992px, on n'affiche pas les icônes des réseaux sociaux */
@media screen and (max-width: 992px) {
    .first-row {
        align-items: center;
    }
    .social-ddo {
        display: none;
    }
    #abonnement {
        display: none;
    }
    .justify-content-end {
        justify-content: center !important;
    }
    #top-search {
        text-align: right;
    }
    
}

/* Média query avec une mixin bootstrap (media-breakpoint-up) : quand l'écran sera plus grand que 992px, on n'affiche pas le menu  */
@include media-breakpoint-up(lg) {
    /* Gestion de l'ordre des colonnes */
    .first-col {
        order: 4;
    }
    #top-search {
        display: none;
    }
    
  }
